################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BGN/BGN/bin
/BNG
/BGN/BGN/obj
/BGN/packages
